.alert_box {
  background: rgb(160, 247, 48);
  color: rgb(236, 92, 48);
  padding: 20px;
  border-radius: 5px;
  display: none;
}
/* .pop_up_on {
  display: block;
}
.pop_up_off {
  display: none;
} */
